/* PC */
@media (min-width: 992px) {
  .course-btn-mobile,
  .mobile-menu,
  .show-on-mobile {
    display: none;
  }
}

/* Tablet and Mobile */
@media (max-width: 991.98px) {
  .header__body {
    position: relative;
  }

  .header__navbar {
    display: none;
  }

  .mobile-menu {
    width: 24px;
    color: #0d1111;
  }

  .navbar__logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-container {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease;
    padding: 60px;
  }

  .menu-checked:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checked:checked ~ .menu-container {
    transform: translateX(0);
  }

  #mobile-navbar {
    margin-top: 10px;
  }

  #mobile-navbar a {
    display: block;
    padding: 18px 0;
  }

  .separate {
    border-top: 1px solid #e2edff;
  }

  .hero__images img {
    width: 100%;
    height: 100%;
  }

  .courses__title,
  .features__title {
    font-size: 3rem;
  }

  .courses__desc,
  .features__desc {
    font-size: 1.4rem;
  }

  .courses__desc {
    width: 100%;
  }

  .feat-list__item + .feat-list__item {
    margin-left: 100px;
  }

  .btn.btn--large {
    padding: 19px 0;
  }

  .content-cta__watch {
    min-width: 52px;
    height: 52px;
  }

  .features__head {
    padding-top: 40px;
  }

  .btn.courses__cta-btn {
    display: none;
  }

  .courses-action {
    margin-top: 154px;
    display: flex;
    justify-content: center;
  }

  .stats {
    width: 100%;
    margin: 0;
  }

  .feedback__content,
  .stats__content {
    padding-top: 100px;
  }

  .stats__content-text strong {
    font-size: 5rem;
  }

  .stats__content-text {
    font-size: 1.6rem;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .show-on-mobile {
    display: none;
  }

  .hero__content {
    padding: 0;
  }

  .hero__content-sub-title {
    font-size: 1.2rem;
  }

  .hero__content-title {
    font-size: 4rem;
  }

  .hero__content-desc {
    margin-top: 26px;
    font-size: 1.5rem;
  }

  .hero__thumb .card-course {
    top: 49px;
  }

  .card-students,
  .hero__thumb .card-course,
  .hero__thumb .card-schedule {
    font-size: 0.7rem;
  }

  .card-students {
    right: 30px;
    bottom: 30px;
  }

  .courses-list {
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 154px 30px;
  }
  .fb-info {
    margin: 0;
  }
  .fb__images {
    width: 50%;
    margin-left: 50px;
  }

  .fb__image:nth-child(5) {
    top: 108px;
  }

  .fb__image:last-child {
    display: none;
  }

  .footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  .menu-container {
    padding: 40px;
    inset: 0 20% 0 0;
  }

  .hide-on-mobile {
    display: none;
  }

  .hero-inner {
    display: block;
  }

  .hero__content {
    width: 100%;
    text-align: center;
    padding-top: 40px;
  }

  .hero__content-title {
    font-size: 4rem;
  }

  .hero__content-desc {
    width: 100%;
    margin-top: 0;
    font-size: 1.4rem;
    padding-top: 30px;
  }

  .hero__content-cta {
    justify-content: center;
  }

  .features__desc,
  .features__title {
    width: 100%;
  }

  .features__feat-list {
    flex-wrap: wrap;
  }

  .feat-list__item {
    width: 100%;
    text-align: center;
  }

  .feat-list__item + .feat-list__item {
    margin: 0;
    margin-top: 30px;
  }

  .courses-list {
    grid-template-columns: 1fr;
    row-gap: 154px;
  }

  .stats__content {
    flex-wrap: wrap;
    font-size: 4rem;
  }

  .stats__content-text {
    width: 100%;
  }

  .stats__content-text + .stats__content-text {
    margin-top: 30px;
  }

  .fb-info {
    width: 100%;
    margin: 0;
  }

  .fb__images {
    display: none;
  }

  .footer__row,
  .contact__body {
    flex-direction: column;
  }

  .contact__actions {
    margin-top: 18px;
  }

  .footer__row {
    gap: 70px;
  }
}
